---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PostLayout from '../layouts/PostLayout.astro';
import TimeLine from '../components/TimeLine.astro';
import SkillCard from '../components/SkillCard.astro';
import type { SkillCardProps} from '../types/skills';
import type { TimelineItem } from '../types/timeline';

const historyItems: TimelineItem[] = [
    { startDate: '2019年04月', endDate: '2024年03月', institution: '沼津高専', department: '制御情報工学科', degree: '準学士(工学)', status: '卒業' },
    { startDate: '2024年04月', endDate: '2027年03月', institution: '東京工科大学', department: 'メディア学部 メディア学科', status: '2年次編入学（卒業見込み）' },
];


const skills: SkillCardProps[] = [
    {
        title: "Programming/Markup Languages",
        items: [
            "HTML (HTML5)",
            "CSS (CSS3)",
            "JavaScript",
            "TypeScript",
            "C#",
            "Python3",
            "C (C99)",
            "C++ (C++03, C++20)",
            "Rust",
            "Go",
            "Shell Script",
            "Lua (5.1, 5.4)",
            "LuaJIT",
            "GLSL",
            "HLSL",
            "Google Apps Script",
            "GitHub Actions Workflow",
        ],
    },
    {
        title: "Runtimes & Frameworks & Libraries",
        items: [
            {
                genre: "C/C++",
                list: [
                    "Simple DirectMedia Layer 2/3",
                    "OpenCV",
                    "Dear ImGui",
                ],
            },
            {
                genre: "C#",
                list: [
                    ".NET",
                    "ASP.NET Core",
                    "GtkSharp3",
                    "Avalonia UI",
                ],
            },
            {
                genre: "JS/TS",
                list: [
                    "Astro",
                    "React",
                    "Svelte",
                    "Node.js",
                    "Tauri",
                ],
            },
        ],
    },
    {
        title: "Tools",
        items: [
            {
                genre: "Development",
                list: [
                    "Git",
                    "GitHub",
                    "GitLab",
                    "Visual Studio",
                    "Visual Studio Code",
                    "Vim",
                    "CMake",
                    "Meson",
                ]
            },
            {
                genre: "Database",
                list: [
                    "MySQL",
                    "MariaDB",
                ]
            },
            {
                genre: "Game Engine",
                list: [
                    "Unity",
                    "Unreal Engine",
                    "Godot",
                ],
            },
            {
                genre: "Audio Middleware",
                list: [
                    "CRI ADX LE",
                    "Wwise",
                ],
            },
            {
                genre: "Data Analysis",
                list: [
                    "JASP",
                    "R",
                    "MATLAB",
                ],
            },
            {
                genre: "Office Suite",
                list: [
                    "Microsoft Word",
                    "Microsoft Excel",
                    "Microsoft PowerPoint",
                    "Google Docs",
                    "Google Sheets",
                    "Google Slides",
                    "LibreOffice Writer",
                    "LibreOffice Calc",
                ],
            },
            {
                genre: "Design",
                list: [
                    "Canva",
                ],
            },
            {
                genre: "3D",
                list: [
                    "Blender",
                    "SolidWorks",
                ],
            },
            {
                genre: "Image",
                list: [
                    "Adobe Photoshop",
                    "Adobe Illustrator",
                    "Affinity",
                    "GIMP",
                    "Inkscape",
                    "Krita",
                    "Photopea",
                ],
            },
            {
                genre: "Video",
                list: [
                    "AviUtl",
                    "AviUtl ExEdit2",
                    "Adobe AfterEffects",
                    "DaVinci Resolve Studio",
                    "FFmpeg",
                ],
            },
            {
                genre: "Audio",
                list: [
                    "Audacity",
                    "Pro Tools",
                    "REAPER",
                    "CSound",
                ],
            },
        ],
    },
]
---

<PostLayout
    title="About Me"
    description="About me and my history"
    pubDate={new Date('2026-04-14')}
    updatedDate={new Date('2026-04-24')}
    heroImage={AboutHeroImage}
>
    <h2>About Me</h2>
    <ul>
        <li>2003年 神奈川県生まれ</li>
        <li>東京工科大学 メディア学部 メディア学科 在籍</li>
        <li>準学士(工学)</li>
    </ul>
    <h2>History</h2>
    <TimeLine items={historyItems} />
    <h2>Skills (Alphabetical Order)</h2>
    <div class="skills-container">
        {
            skills.map(s => (
                <SkillCard title={s.title} items={s.items} />
            ))
        }
    </div>

    <style>
        .skills-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 2em;
            margin: 2em 0;
        }

        @media (max-width: 768px) {
            .skills-container {
                grid-template-columns: 1fr;
            }
        }
    </style>
</PostLayout>
