---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PostLayout from '../layouts/PostLayout.astro';
import TimeLine from '../components/TimeLine.astro';

const historyItems = [
    { date: '2019年04月', content: '沼津高専 制御情報工学科 入学' },
    { date: '2024年03月', content: '沼津高専 制御情報工学科 卒業' },
    { date: '2024年04月', content: '東京工科大学 メディア学部 メディア学科 2年次編入学' },
    { date: '2027年03月', content: '東京工科大学 メディア学部 メディア学科 卒業見込み' },
];
---

<PostLayout
    title="About Me"
    description="About me and my history"
    pubDate={new Date('2026-04-14')}
    heroImage={AboutHeroImage}
>
    <h2>About Me</h2>
    <p>
        2003年 神奈川県生まれ<br />
        東京工科大学 メディア学部 メディア学科 在籍
    </p>
    <h2>History</h2>
    <TimeLine items={historyItems} />
</PostLayout>
