---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PostLayout from '../layouts/PostLayout.astro';
---

<PostLayout
    title="My works"
    description="A collection of my work and projects."
    pubDate={new Date('2026-04-10')}
    heroImage={AboutHeroImage}
>
    <p>
        under construction
    </p>
</PostLayout>
