---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PostLayout from '../layouts/PostLayout.astro';
import WorksCard from '../components/WorksCard.astro';
import type { WorksCardProps } from '../types/works';

const works: WorksCardProps[] = [
    {
        title: '高専太郎',
        description: '沼津高専4年次の「創造設計」にて開発した、リモート授業にて教員学生間の円滑なコミュニケーションを行うためのハード・ソフトウェア。Raspberry Pi上で動作し、ライブストリーミング, カメラ操作, 挙手機能などが搭載されています。',
        technologies: ['ASP.NET Core', 'Razor', 'NLog', 'GtkSharp', 'SDL2', 'FFmpeg', 'video.js', 'clmtrackr.js', 'Raspberry Pi', 'C#'],
    },
    {
        title: '個人Webサイト',
        description: 'ここのサイトです。AstroとTypeScriptを使用して構築されており、Markdownから生成されるブログのような投稿や作品紹介などのコンテンツを提供しています。',
        technologies: ['Astro', 'TypeScript'],
        links: [
            { label: 'GitHub', url: 'https://github.com/yukinori-okd/yukinori-okd-web' }
        ]
    }
];
---

<PostLayout
    title="Works"
    description="A collection of my work and projects."
    pubDate={new Date('2026-04-10')}
    updatedDate={new Date('2026-04-29')}
    heroImage={AboutHeroImage}
>
    <div class="works-container">
        {works.map(work => (
            <WorksCard {...work} />
        ))}
    </div>
</PostLayout>

<style>
    .works-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        margin-top: 2em;
    }
</style>
