---
import { MY_NAME } from '../consts';
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} {MY_NAME}. All rights reserved.
    <div class="social-links">
        <a href="https://github.com/yukinori-okd/yukinori-okd-web" target="_blank">
            <span class="sr-only">Go to {MY_NAME}'s GitHub repo</span>
            <Icon name="mdi:github" width="38" height="38" />
        </a>
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em;
        background: linear-gradient(var(--page-top-gradient)) no-repeat;
        color: rgb(var(--text-secondary));
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--text-secondary));
    }
    .social-links a:hover {
        color: rgb(var(--text-body));
    }
</style>
