---
import { MY_NAME } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav>
        <h2><a href="/">{MY_NAME}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/posts">Posts</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/works">Works</HeaderLink>
            <HeaderLink href="/contact">Contact</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        position: sticky;
        top: 0;
        z-index: 100;
        margin: 0;
        padding: 0 1em;
        background: rgb(var(--surface-base));
        box-shadow: 0 2px 8px rgba(var(--nav-shadow), 5%);
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: rgb(var(--text-primary));
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: rgb(var(--accent));
    }
</style>
